  <%= stylesheet_link_tag	"/development-bundle/themes/base/jquery.ui.all.css" %>
  <%= javascript_include_tag	"/development-bundle/jquery-1.7.1.js" %>
  <%= javascript_include_tag	"/development-bundle/ui/jquery.ui.core.js" %>
  <%= javascript_include_tag	"/development-bundle/ui/jquery.ui.widget.js" %>
  <%= javascript_include_tag	"/development-bundle/ui/jquery.ui.accordion.js" %>
  <%= stylesheet_link_tag	"/development-bundle/demos/demos.css" %>
  <%= javascript_include_tag	"/javascripts/rssread" %>
  <%= stylesheet_link_tag	"/stylesheets/rssread" %>
  <%= javascript_include_tag	"/javascripts/dtree.js" %>
  <%= stylesheet_link_tag	"/stylesheets/dtree.css" %>
<div>
	<%= render "list"%>
</div>
